<a href="https://colab.research.google.com/github/jd-61250/jd-61250/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/data.csv')

In [ ]:
data.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,54208,55434,56234,56699,57029,57357,57702,58044,58377,...,102050,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Afghanistan,8996967,9169406,9351442,9543200,9744772,9956318,10174840,10399936,10637064,...,30117411,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
2,Angola,5454938,5531451,5608499,5679409,5734995,5770573,5781305,5774440,5771973,...,24220660,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0
3,Albania,1608800,1659800,1711319,1762621,1814135,1864791,1914573,1965598,2022272,...,2905195,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0
4,Andorra,13410,14378,15379,16407,17466,18542,19646,20760,21886,...,83748,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0

In [ ]:
val = input('Enter Year: ')
x = max(data[val])
y = min(data[val])
#print(x)
#print(y)
t= 0
s=0
for col in data[val]:
  if(col != x):
    t = t+1
  else:
    break

for col in data[val]:
  if(col != y):
    s = s+1
  else:
    break

#print(t)
first_column = data.iloc[:, 0]
print("Highest Population:",first_column[t])
print("Lowest Population: ",first_column[s])

Enter Year: 1960
Highest Population: Middle income
Lowest Population:  Sint Maarten (Dutch part)

In [ ]:
def min_max_population(year):
  val=year
  x = max(data[val])
  y = min(data[val])
  #print(x)
  #print(y)
  t= 0
  s=0
  for col in data[val]:
    if(col != x):
      t = t+1
    else:
      break
  for col in data[val]:
    if(col != y):
      s = s+1
    else:
      break

  #print(t)
  first_column = data.iloc[:, 0]
  print("Highest Population: ",first_column[t])
  print("Lowest Population: ",first_column[s])
  #j = first_column[t]
  #k = first_column[s]
  #return [j,k]

In [ ]:
data['gp'] =100* (data['2000']- data['1960'])/data['1960']
data.head()
x = max(data['gp'])
y = min(data['gp'])

m= 0
n=0
for col in data['gp']:
  if(col != x):
    m = m+1
  else:
    break
for col in data['gp']:
  if(col != y):
    n = n+1
  else:
    break
#print(t)
first_column = data.iloc[:, 0]
print("Highest Population Growth Percentage: ",first_column[m])
print("Lowest Population Growth Percentage: ",first_column[n])

Highest Population Growth Percentage:  United Arab Emirates
Lowest Population Growth Percentage:  St. Kitts and Nevis

In [ ]:
def growth_percent(year1,year2):
  data['gp'] =100* (data[year2]- data[year1])/data[year1]
  data.head()
  x = max(data['gp'])
  y = min(data['gp'])

  m= 0
  n=0
  for col in data['gp']:
    if(col != x):
      m = m+1
    else:
      break
  for col in data['gp']:
    if(col != y):
      n = n+1
    else:
      break
  #print(t)
  first_column = data.iloc[:, 0]
  print("Highest Population Growth Percentage: ",first_column[m])
  print("Lowest Population Growth Percentage: ",first_column[n])

In [ ]:
growth_percent("1960","2000")

Highest Population Growth Percentage:  United Arab Emirates
Lowest Population Growth Percentage:  St. Kitts and Nevis

In [ ]:
#5th questions was not completed

Enter Country NameAruba
Enter number of years3

TypeError: ignored